.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    overflow-y: auto; 
    position: relative;
    z-index: 0;
  }
  
  .songShelf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 4rem 2rem 2rem;
    position: relative;
    z-index: 0;
    overflow: visible;
  }

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #ccc;
  }
  
  